
body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 3fr 1fr;
    background-color: #E6CFB2;
    font-family: "Roboto Condensed";
}
aside{
    grid-row: 1;
    background-color: #F0E2D1;
}
.header1{
    grid-row: 2;
}


@media(min-width:601px){
    body{
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr 0.5fr 1fr 0.5fr 1fr;
        grid-template-areas: 
        "header"
        "top_content"
        "main_content"
        "bottom_content"
        "footer";
        background-color: #F4E9DE;
        height: 100vh;
        margin: 0;
        color: #5394A0;
    }
    .top{
        grid-area: top_content;
        grid-column: 2;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    .main{
        grid-area: main_content;
        grid-column: 2;
        display: flex;
        align-items: center;
    }
    .bottom{
        grid-area: bottom_content;
        grid-column: 2;
    }
    ul{
        font-size: 25px;
        list-style-type: square;
    }
    aside{
        grid-column: 1;
        grid-row: 1/6;
        background-color: #F9F3EC;
        display: flex;
        flex-direction: column;
    }
    .header1{
        grid-column: 2;
        grid-row: 1;
        text-align: center;
        font-size: 60px;
    }
    .header2{
        grid-column: 1;
        grid-row: 1/4;
        text-align: center;
        font-size: 60px;
    }
    footer{
        text-align: center;
        align-items: center;
    }
    img{
        width: 50px;
        border-radius: 50px;
        grid-column: 2;
        grid-row: 3;
    }
    button{
        border: 0;
        line-height: 2.5;
        padding: 10px 20px;
        font-size: 1.2rem;
        text-align: center;
        color: #fff;
        text-shadow: 1px 1px 1px #000;
        border-radius: 10px;
        margin: 10px;
    }
    .button1{
        background-color: #5394A0;
    }
    .button2{
        background-color: #6F6A87;
    }
    .button3{
        background-color: #5394A0;
        float: right;
    }
    .button4{
        background-color: #D9827C;
        float: right;
    }
    .top_links{
        display: flex;
        justify-content: end;
        align-items: flex-end;
        font-size: 20px;
        margin: 10px;
    }
    textarea{
        height: 200px;
        width: 96%;
        margin: 15px;
        border: #7fabed 3px solid;
        background: #f9f4eb;
    }
}